@page
@if (@Model.Msg != null)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    if (@Model.Status == "error")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@Model.Msg',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    }
}
@model RazorPages.Pages.Categories.CreateModel
@{
    <form method="post" class="align-content-center col-6 " style="margin:auto;text-align:center;margin-top:50px;color:#1A2238">
        <div class="text-center" style="margin-top:25%;margin-right:50px;">
            <div class="mt-4">
                <input asp-for="Category" placeholder="Enter category name">
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <br><br>
            <button type="submit" class="btn btn-success text-center"><i class="bi bi-check" style="font-style:normal"> Create</i></button>
        </div>
    </form>
}
