@page
@if (@Model.Msg != null)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    if (@Model.Status == "error")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@Model.Msg',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    }
}
@model RazorPages.Pages.Categories.CreateModel
@{
    <form method="post" class="align-content-center col-6 needs-validation" style="margin:auto;text-align:center;margin-top:50px;color:#1A2238" novalidate>
        <div class="text-center" style="margin-top:25%;margin-right:50px;">
            <div class="mt-4">
                <input asp-for="Category" class="form-control text-center m-auto" style="width:200px;" placeholder="Enter category name" required>
                <div class="valid-feedback" style="font-size:large">
                    Looks good!
                </div>
                <div class="invalid-feedback" style="font-size:large">
                    Cant be empty.
                </div>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <br><br>
            <button type="submit" class="btn btn-success text-center"><i class="bi bi-check" style="font-style:normal"> Create</i></button>
        </div>
    </form>
}
