@page
@model RazorPages.Pages.Recipes.DeleteModel
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire(
                'Good To go!',
                'You can delete it now!'
            )
            document.getElementById("isWorking").disabled = false;
        }
    })
</script>
@{
    <form method="post" class="align-content-center col-6 " style="margin:auto;text-align:center;margin-top:50px;color:#66FCF1">
            <div>
                <div class="row mt-4 col-11 m-auto">
                    <label style="text-align:left;font-size:large" asp-for="Recipe.Title"></label>
                    <input asp-for="Recipe.Title" disabled>
                </div>
                <div class="row mt-4 col-11 m-auto">
                    <label style="text-align:left;font-size:large" asp-for="Recipe.Ingredients"></label>
                    @foreach (var obj in @Model.Recipe.Ingredients)
                {
                        <input asp-for=@obj disabled>
                        <br>
                }
                </div>
                <div class="row mt-4 col-11 m-auto">
                    <label style="text-align:left;font-size:large" asp-for="Recipe.Instructions"></label>
                    @foreach (var obj in @Model.Recipe.Instructions)
                {
                        <input asp-for=@obj disabled>
                        <br>
                }
                </div>
                <div class="row mt-4 col-11 m-auto">
                    <label style="text-align:left;font-size:large"  asp-for="Recipe.Categories">Choose one or more category</label>
                    @foreach (var obj in @Model.Recipe.Categories)
                {
                        <input asp-for=@obj disabled>
                        <br>
                }
                </div>
                <br>
                <button id="isWorking" type="submit" class="btn btn-danger" disabled><i class="bi bi-trash3-fill" style="font-style:normal"> Delete</i></button>
            </div>
    </form>
}
